/*-------------------
  页-面-元-素(全局)
  ------------------*/
body {
	text-align: center;
	background: url(../image/top_bg.jpg) repeat-x top;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

input {
	vertical-align: middle;
}

ul,li {
	list-style: none;
}

fieldset,img {
	border: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

body,td,th {
	font: 12px "宋体", "微软雅黑";
	color: #000;
}

table {
	border: 0;
	border-collapse: collapse;
}

a:link,a:visited,a:hover {
	color: #333;
	text-decoration: none;
}

a:hover,a.current:link,a.current:visited,a.current:hover {
	color: #FF9B00;
}

p {
	font-size: 12px;
	line-height: 1.8em;
	text-align: left;
}

/*---------------
  清-除-浮-动(clear)
  ----------------*/
.cl {
	clear: both;
	height: 0;
	overflow: hidden;
}
/*Common-----*/
#header,#center {
	margin: 0 auto;
}

#header {
	width: 1024px;
	height: 160px;
	background: url(../image/top_bg2.jpg) no-repeat right 0;
}

#header .l_box {
	float: left;
	padding: 10px 0 0 10px;
	text-align: left;
}

#header .l_box .a1 {
	font: bold 14px/22px Verdana, Geneva, sans-serif;
	color: #000;
}

#header .l_box .a2 {
	margin-top: 20px;
	font: 14px/22px Verdana, Geneva, sans-serif;
	color: #fff;
}

.nav {
	width: 1024px;
	padding-top: 21px;
}

.nav li {
	float: left;
	height: 37px;
	padding: 6px 30px 0;
	width: 60px; line-height : 15px;
	color: #fff;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 15px;
}

.nav li.active {
	background-color: #2DACE3;
}

.nav li .active a {
	color: #000;
}
.nav li a {
	color: #fff;
}

#center {
	width: 1024px;
}